/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --decor-text-color: transparent;
  --decoration-color: #FFC2E6;
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
}


@media (prefers-color-scheme: light) {
  :root {
  --page-bg: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --decor-text-color: transparent;
  --decoration-color: #FFC2E6;
  --section-header-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  }
}