/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
max-width: 375px;
background-image: var(--page-bg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color: var(--bg-color);
font-family: var(--font), sans-serif;
}

header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  inline-size: 100%;
  max-height: 100vh;
  min-height: 668px;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-block-end: 40px;
}

.decor-text {
  font-size: var(--main-font-size);
  color: var(--decor-text-color);
  text-transform: uppercase;
  justify-self: end;
  align-self: start;
  position: absolute;
  top: 10px;
  right: 38px;
}

.decor-text::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color:var(--decor-text-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
  position: absolute;
  top: 8px;
  left: 43px
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--font);
  font-size: var(--main-font-size);
  font-weight: 400;
  color: var(--accent-color);
  text-transform: lowercase;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid rgb(from var(--accent-color) r g b /0.4);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--accent-color) r g b /0.4);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
  border-inline-start: none;
  border-block-end: none;
  position: absolute;
  justify-self: end;
  align-self: start;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
  border-inline-end: none;
  border-block-start: none;
  position: absolute;
  justify-self: start;
  align-self: end;
  bottom: 10px;
  left: 10px;
}

.header_title {
  align-self: center;
}

.title-style {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--decoration-color);
  text-shadow: var(--title-shadow-size) var(--title-shadow-size) var(--accent-color);
  line-height: 83%;
}

.header-text {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--header-text-color);
  align-self: center;
  justify-self: start;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--header-text-color);
}

.content {
  display: grid;
  gap: 50px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section_header {
  font-family: var(--font), sans-serif;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--section-header-text-color);
}

.section_content {
  display: grid;
  gap: 10px;
}

.section_block {
  display: grid;
  gap: 20px;
}

.section_content-header {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
}

 .subtitle {
  font-weight: 400;
 }

.section_content-text {
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--text-color);
}

.text_link {
  text-shadow: 2px 2px 1px var(--accent-color);
  text-decoration: none;
}

.text_link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.text_link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: 10px;
  margin: 0;
}

.image {
  max-width: 355px;
}

.footer {
  max-block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-block-start: 40px;
}

.footer_title {
  --title-shadow-size: 2px;
}

@media (width >= 768px) {
 .page {
  max-width: 768px;
 }

 .header {
  max-height: 100vh;
  min-height: 1024px;
  padding: 20px;
  margin-block-end: 60px;
 }

 .header_title {
  margin-inline-start: -20px;
 }

 .title-style {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
 }

 .header-text {
  inline-size: 364px;
  justify-self: end;
 }

 .decor-text {
  top: 20px;
  right: 48px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
}

.content {
  gap: 80px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}
.section {
  gap: 20px;
  grid-template-columns: 236px 2fr;
}

.section_content_dofamine {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section_content-concentration {
  grid-column-start: 1;
  grid-column-end: 3;
}

.section_block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.image {
  inline-size: 100%;
  max-width: 479px;
  max-height: 568px;
  block-size: auto;
  object-fit: cover;
  display: block;
  overflow: clip;
}

.section_content-header-img {
  grid-column-start: 1;
  grid-column-end: 4;
}

.gallery {
  margin: 0;
  gap:20px;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  align-items: stretch;
}

.image:nth-child(1) {
  grid-column: span 2;
}

.image:nth-child(2) {
  grid-column: 3;
  grid-row: span 2;
}

.image:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.image:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.image:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

.footer {
  margin-block-start: 60px;
  max-height: 100vh;
  min-height: 1024px;
}

} 

@media (width >= 1024px) {
.page {
  max-width: 1024px;
}

.header {
  inline-size: 100%;
  max-height: 100vh;
  min-height: 768px;
  padding: 20px;
  margin-block-end: 60px;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.header-text {
  inline-size: 491px;
  justify-self: end;
}

 .title-style {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
 }

 .section {
  grid-template-columns: 315px 2fr;
}

 .section_concentration {
  grid-template-columns: repeat(3, minmax(236px, 1fr));
 }

 .section_content-concentration {
  grid-template-rows: min-content auto;
 }

.section_content-concentration:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.section_content-concentration:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
 
.section_content-concentration:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.image {
  max-width: 650px;
  max-height: 768px;
}

.footer {
  margin-block-start: 60px;
  max-height: 100vh;
  min-height: 768px;
}
} 


