/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-bg: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --decor-text-color: #FF0070;
  --decoration-color: #DB00FF;
  --section-header-text-color: #FF0070;
  --header-text-color: #000028;
  --text-color: #F1B2CE;
  --font: 'IBM Plex mono';
  --main-font-size: 18px;
  --title-shadow-size: 4px;
}